include *.txt
recursive-include docs *
recursive-include tests *.py
recursive-include tests *.txt
recursive-include tw2/core/testbase *.py
recursive-include tw2/core/test_templates *
recursive-include tw2/core/templates *
